<h1>Profile</h1>

<table>
  <thead>
    <tr>
      <th>username</th>
      <th>email</th>
      <th>address</th>
      <th>telefone number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @current_user.username %></td>
      <td><%= @current_user.email %></td>
      <td><%= @current_user.address %></td>
      <td><%= @current_user.telnr %></td>
    </tr>
  </tbody>
</table>
